@model ASPNETCORERoleManagement.Models.Divis

@{
    ViewData["Title"] = "Delete";
}

<h4>Desea Eliminar este registro?<small>-Divisiones</small></h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gbukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gbukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Divi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Divi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrip)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-success" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
