@model ASPNETCORERoleManagement.Models.Objetivo

@{
    ViewData["Title"] = "Delete";
}
<ul class="nav nav-tabs">

    <li role="presentation">
        @*asp-route-TipoObjId:Forza el parametro para hacer la busqueda por Tipo de Objetivo*@
        <a asp-controller="TipoObjs"
           asp-action="Details"
           asp-route-id="@ViewBag.TipoObjID">
            Tipo Objetivos
        </a>

    </li>
    <li role="presentation" class="active"><a href="#">Objetivos</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>

<h2>Delete</h2>


<div>
    <h4>Objetivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoObj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoObjId )

        </dd>
    </dl>
    <h3>Confirme ¿Está seguro de eliminar?</h3>
    <form asp-action="Delete">
        <nav class="navbar navbar-light bg-light">

            <input type="hidden" asp-for="IdObjetivo" />
            <input type="submit" value="Confirmar" class="btn  btn-danger  " /> 
            <a asp-action="Index" asp-route-TipoObjId="@ViewBag.TipoObjId" class="btn btn-default">cancelar</a>
        </nav>


    </form>
</div>
