@model IEnumerable<ASPNETCORERoleManagement.Models.Conocimientos>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Conocimiento_Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bukrs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gbukrs)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conocimiento_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gbukrs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Conocimientos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Conocimientos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Conocimientos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
