@model ASPNETCORERoleManagement.Models.Estatus_stat2

@{
    ViewData["Title"] = "Delete";
}

<h2> Eliminar</h2>

<h3>Esta Ud seguro de eliminar?</h3>
<div>
    <h4>Estado del Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gbukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gbukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-success" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
