@model ASPNETCORERoleManagement.Models.Tareas

@{
    ViewData["Title"] = "Eliminar Tarea";
}

<div class="panel panel-default">
    <div class="panel-heading">
        
        <h4>Eliminar Tareas</h4>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TareasDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TareasDesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TareasFechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TareasFechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TareasFechaFinDeseado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TareasFechaFinDeseado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TareasFechaFinReal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TareasFechaFinReal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objetivo.IdObjetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Objetivo.TipoObj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Objetivo.TipoObj.Descripcion)

        </dd>

    </dl>

    <form asp-action="Delete">
        <h3>Confirme ¿Desea eliminar la tarea?</h3>
        <input type="hidden" asp-for="TareaId" />
        <input type="submit" value="Confirmar" class="btn btn-danger " /> |
        <a asp-action="Index" class="btn btn-default">Volver a la lista.</a>
    </form>
</div> 
    

    