@model ASPNETCORERoleManagement.Models.TipoObj

@{
    ViewData["Title"] = "Eliminar Tipo de Objetivos";
}

<h2>Eliminar</h2>


<div>
    <h4>TipoObj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoObjId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoObjId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gbukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gbukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    <h3>Confirme ¿Está seguro en eliminar?</h3>
    <nav>
        <form asp-action="Delete">
            <input type="hidden" asp-for="TipoObjId" />
            <input type="submit" value="Confirmar" class="btn btn-danger " />
            <a asp-action="Index" class="btn btn-default">Regresar</a>
        </form>
    </nav>


</div>
