@model ASPNETCORERoleManagement.Models.TipoObj

@{
    ViewData["Title"] = "Details";
}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Detalles</a></li>
    <li role="presentation">
        @*asp-route-TipoObjId:Forza el parametro para hacer la busqueda por Tipo de Objetivo*@
        <a asp-controller="Objetivos"
           asp-action="Index"
           asp-route-TipoObjId="@ViewBag.TipoObjID">
            Objetivos
        </a>

    </li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>

<h2>Tipo de Objetivos</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoObjId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoObjId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gbukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gbukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoObjId" class="btn btn-success">Editar</a>
    <a asp-action="Delete" asp-route-id="@Model.TipoObjId" class="btn btn-danger ">Eliminar</a>
    <a asp-action="Index" class="btn btn-default">Regresar</a>
</div>
