@model IEnumerable<ASPNETCORERoleManagement.Models.IT2_185_105>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gbukrs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bukrs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pernr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BegDa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seqnr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aedtm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titl2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gesch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GbDat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gblnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gbdep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gbort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Natio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrty1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrid1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrty2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrid2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrty3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrid3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrty4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usrid4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rfc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Licencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cartilla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pasaporte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fm2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fm3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issste)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Afore)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gbukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pernr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BegDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seqnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aedtm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titl2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gesch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GbDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gblnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gbdep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gbort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Natio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrty1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrid1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrty2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrid2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrty3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrid3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrty4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usrid4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rfc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Licencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cartilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pasaporte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fm2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fm3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
