@model ASPNETCORERoleManagement.Models.IT16

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>IT16</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gbukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gbukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pernr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pernr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BegDa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BegDa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seqnr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seqnr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aedtm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aedtm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cttyp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cttyp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prbzt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prbzt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prbeh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prbeh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
