@model ASPNETCORERoleManagement.Models.Competencias

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>


<div>
    <h4>Competencias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Competencia )
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Competencia )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bukrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Competencias_Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Competencias_Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Generico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Generico)
        </dd>
    </dl>
    <h3>Confirme ¿ Esta seguro de eliminar?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Competencia" />
        <input type="hidden" asp-for="gbukrs" />
        <input type="hidden" asp-for="bukrs" />
        <input type="submit" value="Confirmar" class="btn btn-danger " /><a asp-action="Index" class="btn btn-default" >Regresar</a>
    </form>
</div>
