@model IEnumerable<ASPNETCORERoleManagement.Models.Competencias>

@{
    ViewData["Title"] = "Competencias";
}

<h2>Competencias</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Columan de Botones*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Competencia)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Competencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competencias_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bukrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gbukrs)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>


                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Competencia, strCompetencia = item.Competencia }) |

                @Html.ActionLink("Ver", "Details", new { id = item.Id_Competencia, strCompetencia = item.Competencia }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Competencia, strCompetencia = item.Competencia })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Competencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competencia)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Competencias_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gbukrs)
            </td>

        </tr>
}
    </tbody>
</table>
