@model IEnumerable<ASPNETCORERoleManagement.Models.Competencias>

@{
    ViewData["Title"] = "Index";
}

<h2>Competencias</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Competencia)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.Competencias_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bukrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gbukrs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Competencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competencias_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gbukrs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Competencia">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Competencia">Visualizar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Competencia">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
