@model ASPNETCORERoleManagement.Models.IT0

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IT0</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gbukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gbukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bukrs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bukrs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pernr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pernr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BegDa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BegDa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Seqnr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seqnr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aedtm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aedtm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Massn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Massn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Massg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Massg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
