@model ASPNETCORERoleManagement.Models.Region1

@{
    ViewData["Title"] = "Details";
}

<h2>Ver</h2>

<div>
    <h4>Estados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
