@model IEnumerable<ASPNETCORERoleManagement.Models.IT1>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gbukrs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bukrs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pernr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BegDa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Seqnr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aedtm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Divi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_pers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Area_pers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subdivis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nomina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cent_cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Orgeh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plans)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stell)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gbukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bukrs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pernr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BegDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seqnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aedtm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Divi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_pers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area_pers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subdivis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cent_cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orgeh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stell)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
