@model IEnumerable<ASPNETCORERoleManagement.Models.Subdivision>

@{
    ViewData["Title"] = "Index";
}

<h3>Subdivisiones</h3>

<p>
    <span class="label label-info">@ViewBag.GpoCiaG</span>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gbukrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bukrs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Divi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subdivis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Gbukrs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bukrs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Divi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subdivis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrip)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Ver</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
